@import url("reset.css");
.a {
  position: absolute;
}
.r {
  position: relative;
}
html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
.wrapper .all_w {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}
.wrapper .all_w .w_one {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper .all_w .w_one header {
  width: 100%;
  height: 3.9rem;
  background: #129aee;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 3.9rem;
}
.wrapper .all_w .w_one header div:nth-child(1) {
  padding-left: 1rem;
  box-sizing: border-box;
}
.wrapper .all_w .w_one header div:nth-child(1) img {
  vertical-align: middle;
}
.wrapper .all_w .w_one header div:nth-child(2) {
  -webkit-box-flex: 1;
  padding: 0 1rem;
  position: relative;
}
.wrapper .all_w .w_one header div:nth-child(2) > input {
  display: block;
  width: 100%;
  height: 2.5rem;
  background: #0e7bbe;
  box-sizing: border-box;
  margin-top: 0.6rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  padding-left: 3rem;
}
.wrapper .all_w .w_one header div:nth-child(2) .ding {
  position: absolute;
  top: 1.4rem;
  left: 2rem;
}
.wrapper .all_w .w_one section {
  -webkit-box-flex: 1;
  overflow: auto;
}
.wrapper .all_w .w_one section::-webkit-scrollbar {
  width: 0;
}
.wrapper .all_w .w_one section .nav {
  width: 100%;
  height: 3.1rem;
  background: none;
  border-bottom: 1px solid #f1f1f1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 3.1rem;
}
.wrapper .all_w .w_one section .nav .swiper-container {
  -webkit-box-flex: 1;
  text-align: center;
}
.wrapper .all_w .w_one section .nav .tui {
  color: #40abf0;
}
.wrapper .all_w .w_one section .nav .tutu {
  width: 2rem;
  height: 3.1rem;
  background: none;
}
.wrapper .all_w .w_one section .nav .tutu img {
  vertical-align: middle;
}
.wrapper .all_w .w_one section .all_main {
  padding: 0 1.2rem;
}
.wrapper .all_w .w_one section .all_main .main {
  border-bottom: 1px solid #f1f1f1;
  box-sizing: border-box;
  padding-bottom: 1rem;
}
.wrapper .all_w .w_one section .all_main .main h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1.4rem;
}
.wrapper .all_w .w_one section .all_main .main > div {
  margin-top: 1rem;
}
.wrapper .all_w .w_one section .all_main .main > div img {
  float: right;
}
.wrapper .all_w .w_one section .all_main .main > div span {
  color: #7ed0ec;
  border: 1px solid #7ed0ec;
  padding: 0 0.4rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
}
.wrapper .all_w .w_one section .all_main .main > div font {
  color: #bebebe;
  margin-right: 1rem;
}
.wrapper .all_w .w_one section .all_main .main2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #f1f1f1;
  margin-top: 1rem;
  padding-bottom: 1.3rem;
}
.wrapper .all_w .w_one section .all_main .main2 div:nth-child(1) {
  -webkit-box-flex: 1;
  padding-right: 1.2rem;
}
.wrapper .all_w .w_one section .all_main .main2 div:nth-child(1) h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.wrapper .all_w .w_one section .all_main .main2 div:nth-child(1) span {
  color: #ea958c;
  border: 1px solid #ea958c;
  padding: 0 0.4rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
}
.wrapper .all_w .w_one section .all_main .main2 div:nth-child(1) font {
  color: #bebebe;
  margin-right: 1rem;
}
.wrapper .all_w .w_one section .all_main .main2 div:nth-child(1) img {
  float: right;
}
.wrapper .all_w .w_one section .all_main .main2 div:nth-child(2) img {
  width: 96px;
  height: 72px;
}
.wrapper .all_w .w_one section .all_main .main3 {
  -webkit-box-flex: 1;
  border-bottom: 1px solid #f1f1f1;
}
.wrapper .all_w .w_one section .all_main .main3 h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.wrapper .all_w .w_one section .all_main .main3 .tupian {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrapper .all_w .w_one section .all_main .main3 .tupian > div {
  -webkit-box-flex: 1;
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
}
.wrapper .all_w .w_one section .all_main .main3 .tupian > div img {
  width: 100%;
  height: auto;
  background: none;
}
.wrapper .all_w .w_one section .all_main .main3 .tupian div:nth-child(2) {
  margin: 0 3px;
}
.wrapper .all_w .w_one section .all_main .main3 p {
  color: #bebebe;
  line-height: 4rem;
}
.wrapper .all_w .w_one section .all_main .main3 p span {
  margin-right: 1rem;
}
.wrapper .all_w .w_one section .all_main .main3 p img {
  float: right;
  margin-top: 1.5rem;
}
.wrapper .all_w .w_two {
  width: 100%;
  height: 100%;
  background: none;
  -webkit-box-flex: 1;
}
.wrapper .all_w .w_three {
  width: 100%;
  height: 100%;
  background: none;
  -webkit-box-flex: 1;
}
.wrapper .all_w .w_four {
  width: 100%;
  height: 100%;
  background: none;
  -webkit-box-flex: 1;
}
.wrapper footer {
  width: 100%;
  height: 3.2rem;
  background: none;
  border-top: solid #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 0.3rem;
  color: #c1c1c1;
}
.wrapper footer dl {
  -webkit-box-flex: 1;
  text-align: center;
}
.wrapper footer dd {
  line-height: 1rem;
}
.wrapper footer .bian {
  color: #6bc0e8;
}
